<div class="full-attached-back">
    <div class="logo">
        <img src="./src/images/jalmitra.png">
    </div>

        <h1 class="home-title">Save Drinking Water for 20 people daily</h1>
        <div class="automate-button">Automate Your Motor Now!</div>
        <div class="know-more">know more about Jalmitra</div>
        <div class="go-down"> <i class="fa fa-chevron-down"></i> </div>


</div>

<div class="container-fluid">
    <div class="row">
        <div class="section-two">
                <div class="col-sm-6 col-md-4" ng-repeat="step in steps">
                    <div circle info="step"></div>
                </div>
        </div>
    </div>
</div>
