<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand"  href="#"><img src="./src/images/head.png" style="width: 200px;height: 60px; margin-top: -20px;" ></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
		
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#/">Home</a></li>
				<li><a href="#/solutions">Solutions</a></li>
				<li><a href="#/about">About</a></li>
				<li><a href="#/clients">Clients</a></li>
				<li><a href="#/franchisee">Franchisee</a></li>
				<li><a href="#/team">Team</a></li>
				<li><a href="#/contact">Contact</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div>
</nav>